* {
  /* width: 100%;
  height: 100vh; */
  touch-action: manipulation;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: scroll;
}

.scrollable {
  overflow: auto;
  -ms-content-zooming: none;
  touch-action: pan-y;
}

.container-fluid {
  --bs-gutter-x: none;
}
/* Media Query Phone*/
@media (width <= 580px) {
  .container-fluid {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
  }
  .container-fluid a.navbar-brand {
    font-size: 0.5rem;
  }
  #paragrap {
    flex-wrap: wrap;
    width: 17rem;
    display: flex;
    margin-left: 4.7rem;
  }
  #paragrap img {
    width: 150px;
    flex-wrap: wrap;
    position: relative;
    margin-right: 350px;
  }

  #walas {
    padding-bottom: 20px;
  }
  #walas img {
    border-radius: 30px;
  }
  #main-char {
    padding-bottom: 30px;
  }
  #main-char img {
    border-radius: 30px;
  }
  #sec-char {
    padding-bottom: 200px;
  }
  #sec-char img {
    border-radius: 30px;
  }
}
/* The End of Media Query Phone*/
/* Media Query Desktop */
@media screen and (min-width: 992px) {
  #paragrap {
    margin: 0 auto;
  }
}
/* The End of Media Query Desktop */
#paragrap {
  text-align: justify;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 70px;
}

#walas {
  padding-bottom: 20px;
}
#walas img {
  border-radius: 30px;
}
#main-char {
  padding-bottom: 30px;
}
#main-char img {
  border-radius: 30px;
}
#sec-char img {
  border-radius: 30px;
}
div {
  border: none;
  outline: none;
}
#paragrap img {
  width: 250px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 450px;
  box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.28);
}

/* Daftar.html */
#judul {
  margin-top: 100px;
}
